[submodule "flatpaks/sh.ppy.osu"]
	path = flatpaks/sh.ppy.osu
	url = https://github.com/kichirouhoshino/sh.ppy.osu.git
[submodule "flatpaks/net.badlion.BadlionClient"]
	path = flatpaks/net.badlion.BadlionClient
	url = https://github.com/kichirouhoshino/BadlionClient-Flatpak.git
[submodule "flatpaks/com.pixelomer.ShijimaQt"]
	path = flatpaks/com.pixelomer.ShijimaQt
	url = https://github.com/kichirouhoshino/shijima-qt-flatpak.git
[submodule "flatpaks/music.deadbeef.player"]
	path = flatpaks/music.deadbeef.player
	url = https://github.com/kichirouhoshino/deadbeef-flatpak.git
[submodule "flatpaks/com.archimatetool.Archi"]
	path = flatpaks/com.archimatetool.Archi
	url = https://github.com/kichirouhoshino/Archi-Flatpak.git
[submodule "flatpaks/de.blitzdose.serverctrl"]
	path = flatpaks/de.blitzdose.serverctrl
	url = https://github.com/kichirouhoshino/ServerCtrl-Flatpak.git
[submodule "flatpaks/io.github.spartacus04.jext-plugin-manager"]
	path = flatpaks/io.github.spartacus04.jext-plugin-manager
	url = https://github.com/kichirouhoshino/jext-plugin-manager-Flatpak.git
